*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(3, 28, 28);
}

.container
{
    width: 90%;
    margin: 0 auto;
    height: auto;
    background-color: rgb(3, 28, 28);
}

.navbar
{
    width: auto;
    height: 100px;
    background-color: rgb(3, 28, 28);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo
{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    margin-left: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: white;
}

.navbar .logo a{
    color: white;
    text-decoration: none;
}

.navbar .logo a:hover{
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    color: aqua;
}

.navbar .menu {
    display: flex;
}

.navbar .logo1
{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    margin-right: 25px;
    color: white;
}

.navbar .logo1 a{
    color: white;
    text-decoration: none;
}

.navbar .logo1 a:hover{
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bolder;
    color: aqua;
}

.content
{
    background-color: rgb(3, 28, 28);
    height: 175px;
    width: auto;
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
}

.content .subcontent
{
    height: 75px;
    width: 300px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.content .subcontent input,
.content .subcontent button {
    width: 90%;
    height: 70%;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.subcontent button:hover{
    background-color: aqua;
    font-weight: bolder;
    font-size: 25px;
}

.error-container {
    color: red;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.data-container {
    display: none; /* Hidden by default */
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(3, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-container .data
{
    border: 1px solid black;
    background-color: gray;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    line-height: 30px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}

.data-container .image {

    background-color: gray;
    height: 400px;
    width: 350px;
    display: flex;
    margin-left: 25px;
    border-radius: 12px;
}

#data-container2 .image {
    margin-right: 25px;
    margin-left: 5px;
}
